body {
    background: linear-gradient(darkseagreen 50%, beige 50%);
    background-size: 100% 130%;
    background-repeat: no-repeat;
    background-color: beige;
}

h1 {
    position: relative;
    top: 20px;
    text-align: center;
    font-size: 60pt;
    font-weight: 500;
    font-style: upright;
    font-family: "inge-variable", sans-serif;
    font-variation-settings: "slnt" 0;
}

.container {
    position: relative;
    top: 20px;
    text-align: center;
    line-height: 0.5;
    z-index: 2;
}

.container2 {
    position: relative;
    top: 40px;
    text-align: center;
    line-height: 0.5;
    z-index: 1;
}

.u {
    font-family: "magno-serif-variable", sans-serif;
    font-size: 160pt;
    font-variation-settings: "wght" 400;
    transition: 500ms ease;
}

.u:hover {
    font-variation-settings: "wght" 600; 
}

.n1 {
    font-family: "pauline-didone-variable", sans-serif; 
    font-size: 160pt;
    font-variation-settings: "wght" 400;
    font-style: normal;
    transition: 500ms ease;
    display: inline-block;
}

.n1:hover {
    letter-spacing: 1px;
    transform: skewX(-10deg);
}

.i {
    font-family: "cornpile-variable", sans-serif;
    font-size: 160pt;
    font-variation-settings: "ital" 0, "wght" 250;
    letter-spacing: 10px;
    transition: 500ms ease;
    display: inline-block;
}

.i:hover {
    letter-spacing: 13px;
    transform: scale(1.1) skewX(7deg);
}

.o {
    position: relative;
    top: 10px;
    font-family: "magari-variable", sans-serif;
    font-size: 155pt;
    letter-spacing: 4px;
    font-variation-settings: "wght" 700;
    transition: 500ms ease;
    display: inline-block;
}

.o:hover {
    font-variation-settings: "wght" 800;
}

.n {
    position: relative;
    top: 4px;
    font-family: "basenji-variable", sans-serif;
    font-size: 140pt;
    font-variation-settings: "ital" 0, "wght" 270;
    transform: scale(1.1);
    transition: 500ms ease;
    display: inline-block;
}

.n:hover {
    letter-spacing: 1px;
    font-size: 150pt;
    transform: skewX(-8deg);
}

.s {
    font-family: "cheee-variable", sans-serif; 
    font-variation-settings: "GRVT" 0, "YEST" 0;
    font-size: 160pt;
    letter-spacing: 2px;
    transition: 500ms ease;
    display: inline-block;
}

.s:hover {
    font-variation-settings: "GRVT" 50, "YEST" 200;
}

.q {
    font-family: "evalfey-variable", sans-serif;
    font-variation-settings: "wght" 200;
    font-size: 160pt;
    transition: 500ms ease;
    display: inline-block;
}

.q:hover {
    transform: skewX(8deg);
}

.u2 {
    position: relative;
    top: 55px;
    font-family: "organetto-variable", sans-serif; 
    font-variation-settings: "wght" 400, "wdth" 400;
    font-size: 160pt;
    transition: 500ms ease;
    display: inline-block;
}

.u2:hover {
    font-variation-settings: "wght" 400, "wdth" 85;
}

.a {
    position: relative;
    top: 25px;
    font-family: "irregardless-variable", sans-serif;
    font-variation-settings: "ital" 0, "wght" 300;
    font-size: 155pt;
    transition: 500ms ease;
    display: inline-block;
}

.a:hover {
    font-variation-settings: "ital" 0, "wght" 500;
}

.r {
    font-family: "acumin-variable", sans-serif;
    font-variation-settings: "slnt" 0, "wdth" 100, "wght" 750;
    font-size: 155pt;
    transition: 500ms ease;
    display: inline-block;
    padding-top: -1000px;
}

.r:hover {
    font-variation-settings: "slnt" -12, "wdth" 100, "wght" 900;
}

.e {
    position: relative;
    top: 17px;
    font-family: "luke-variable", sans-serif;
    font-variation-settings: "LINE" 100, "FILL" 100;
    font-size: 160pt;
    transition: 500ms ease;
    display: inline-block;
}

.e:hover {
    font-variation-settings: "LINE" 300, "FILL" 200;
    font-size: 170pt;
}

.wordsearch {
    position: relative;
    top: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 0px;
}

.wordsearch span {
    font-family: "frequencies-frittomisto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

.day {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.word {
    transition: background-color 0.3s;
}

.word:hover {
    background-color: gold;
}

.text {
    position: relative;
    top: 270px;
    margin-left: 30%;
    margin-right: 30%;
    line-height: 20px;
    text-align: justify;
    color: darkgreen;
}

.fade {
    color: beige;
    cursor: pointer;
    background-color: beige;
}

.fade:hover {
    color: black;
    transition: all 0.5s linear;
}